<div class="footer-container">
    <div id="footer" class="footer">
        <img src="/images/logo_blanc.png" class="logo" alt="Logo Timéo">
        <div class="liens-rapides">
            <h1>Liens rapides</h1>
            <div class="liens">
                <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Accueil</a>
                <a routerLink="/about" routerLinkActive="active-link">A propos</a>
                <a routerLink="/projects" routerLinkActive="active-link">Mes projets</a>
                <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
            </div>
        </div>
        <div class="contact-me">
            <h1>Contactez moi</h1>
            <div class="icons">
                <a href="https://www.linkedin.com/in/tim%C3%A9o-da-costa-078b15237/"><img src="/svg/icons/linkedin.svg" alt="Linkedin"></a>
                <a href="https://github.com/timeodacosta1707"><img src="/svg/icons/github.svg" alt="GitHub"></a>
                <a href="mailto:dacostatimeo@gmail.com"><img src="/svg/icons/mail.svg" alt="Email"></a>
                <a href="tel:0769695895" class="telephone"><img src="/svg/icons/phone.svg" alt="Phone"></a>
            </div>
        </div>
    </div>
    
    <div class="rgpd">
        <p class="copyright">
            © Copyright 2026. Portfolio Timéo DA COSTA
        </p>
        <div class="links">
            <a href="/" routerLinkActive="active-link">Conditions d'utilsiations</a>
            <a href="/" routerLinkActive="active-link">Mentions légales</a>
        </div>
    </div>
</div>