<div class="footer-container">
    <div id="footer" class="footer">
        <img src="/images/logo_blanc.png" class="logo" alt="Logo Timéo">
        <div class="liens-rapides">
            <h1>Liens rapides</h1>
            <div class="liens">
                <a href="/">Accueil</a>
                <a href="/">A propos</a>
                <a href="/">Mes projets</a>
                <a href="/">Contact</a>
            </div>
        </div>
        <div class="contact-me">
            <h1>Contactez moi</h1>
            <div class="icons">
                <a href=""><img src="/svg/icons/linkedin.svg" alt="Linkedin"></a>
                <a href=""><img src="/svg/icons/instagram.svg" alt="Instagram"></a>
                <a href=""><img src="/svg/icons/github.svg" alt="GitHub"></a>
                <a href="mailto:dacostatimeo@gmail.com"><img src="/svg/icons/mail.svg" alt="Email"></a>
                <a href="tel:0769695895"><img src="/svg/icons/phone.svg" alt="Phone"></a>
            </div>
        </div>
    </div>
    
    <div class="rgpd">
        <p class="copyright">
            © Copyright 2026. Portfolio Timéo DA COSTA
        </p>
        <div class="links">
            <a href="/">Conditions d'utilsiations</a>
            <a href="/">Mentions légales</a>
        </div>
    </div>
</div>