<nav class="navbar">
    <button class="navbar__hamburger">
        <img src="/svg/hamburger.svg" alt="">
    </button>
    <div class="navbar__left">
        <a class="logo" href="/">
            Timéo DA COSTA
        </a>
    </div>
    <div class="navbar__right">
        <a routerLink="/">
            Accueil
        </a>
        <a routerLink="/about">
            A propos
        </a>
        <a routerLink="/projects">
            Mes projets
        </a>
        <a routerLink="/contact">
            Contact
        </a>
    </div>
</nav>