.projects {
    background-image: linear-gradient(to bottom, rgba(16, 16, 16, 0) 85%, #101010 100%), url('/images/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75% center;
    background-color: #101010;
}