<div class="hero-container">
    
    <div class="qualities">
        <button>
            PASSIONNÉ
        </button>
        <button>
            PERSÉVÉRANT
        </button>
        <button>
            RIGOUREUX
        </button>
    </div>

    <div class="hero-title">
        <h1>TIMEO</h1>
        <h1>DA COSTA</h1>
        
        <div class="hero-title__desc">
            <div class="hero-title__h2">
                <h2>DEVELOPPEUR</h2>
                <h2>FULL STACK</h2>
            </div>
            
            <p>Je m’appelle Timéo DA COSTA, j’ai {{ age }} ans et je suis actuellement dans un BUT MMI
                (Métiers du Multimédia et de l’Internet) qui est une formation pluridisciplinaire
                regroupant du développement Web, mais encore de l’audiovisuel, du design ou
                encore du marketing.
            </p>
        </div>
    </div>

    <a (click)="scrollToTechnologies()" class="hero-cta">
        <div class="hero-cta__text">
            DÉCOUVRIR MON POTENTIEL
        </div>
        <div class="hero-cta__icon">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 17L17 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7 7H17V17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
    </a>

</div>

<app-technologies></app-technologies>